---
import Layout from "../layouts/Layout.astro"
import Cta from "../components/Cta.astro"
import SectionTitle from "../components/SectionTitle.astro"
import EngineeringText from "../content/pages/engineering.md"
---

<Layout title="Engineering">
  <SectionTitle title="Engineering"/>
  <div class="text-content-container">
    <EngineeringText />
  </div>
  <Cta />
</Layout>
