---
import Layout from "../layouts/Layout.astro"
import FabricationText from "../content/pages/fabrication.md"
import SectionTitle from "../components/SectionTitle.astro"
import Cta from "../components/Cta.astro"
---

<Layout title="Fabrication">
  <SectionTitle title="Fabrication"/>
  <div class="text-content-container">
    <FabricationText/>
  </div>
  <Cta />
</Layout>
