---
import Layout from "../layouts/Layout.astro";
import Services from "../components/Services.astro";
import Fabrication from "../components/Fabrication.astro";
import Engineering from "../components/Engineering.astro";
import Cta from "../components/Cta.astro";
---

<Layout title="HOME">
  <section class="banner radial-gradient-dark">
    <div class="banner-text-overlay">
      <h1>
        Highest quality results<br />No matter how simple or complex the project
      </h1>
      <a href="/contact" class="btn btn-transparent-light">Request a Quote</a>
    </div>
  </section>
  <Services />
  <Fabrication class="section-light-grey"/>
  <Engineering />
  <Cta />
</Layout>

<style>
  .banner {
    height: 400px;
    color: var(--font-color-light);
  }
  .banner h1 {
    font-family: var(--font-heading);
    font-weight: var(--bolder);
    font-size: var(--text-3xl);
  }
  .banner-text-overlay {
    height: 100%;
    max-width: var(--width-wide-content);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-3xl);
  }
  .banner-text-overlay .btn {
    max-width: 300px;
  }
  .main-content {
    max-width: var(--width-main-content);
    margin: var(--space-3xl) auto;
  }
  .cta {
    color: var(--font-color-light);
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: var(--width-main-content);
    margin: var(--space-3xl) auto;
    padding: var(--space-3xl);
    border-radius: var(--radius-md);
    align-items: center;
    gap: var(--space-3xl);
  }
  .cta-message {
    font-size: var(--text-2xl);
    font-family: var(--font-heading);
  }
  .btn-cta {
    height: fit-content;
  }
</style>
