---
import Layout from "../layouts/Layout.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Cta from "../components/Cta.astro";
import Gallery from "../components/Gallery.astro";
---

<Layout title="Fabrication">
  <SectionTitle title="Fabrication" />
  <div class="text-content-container">
    <div class="boxed-text">Design and fabrication under one roof.</div>
    <p>
      JKV is well-equipped to handle one-off to low volume custom fabrication
      work. When the project involves prototyping, we can quickly go from design
      to fabrication, and iterate on the design as needed.
    </p>
    <h1 id="equipment">Our Equipment and Capabilities</h1>
    <ul>
      <li>
        CNC Waterjet cutting on our Flow Mach IV (5’x8’ capacity) - Steel,
        Stainless Steel, Aluminum, Plastics, Composites, Stone, etc.
      </li>
      <li>
        CNC machining on 2 routers (wood, plastic, composites, and aluminum)
      </li>
      <li>
        CNC Press-Brake Sheetmetal Bending (up to 10’ length and 1/2” thickness)
      </li>
      <li>
        CNC Tube Bending (0.5” to 2.0” steel tubing up to schedule 40 wall
        thickness)
      </li>
      <li>Welding (TIG, AC/DC-Pulse MIG, Stick)</li>
    </ul>
    <Gallery albumId="equipment" />
  </div>
  <Cta />
</Layout>
