.logo {
  height: 75px;
  width: auto;
  min-width: none;
}

.main {
  margin: 0;
  margin-top: 95px;
}

.section-dark {
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 125px 100px inset;
}

@media screen and (max-width: 768px) {
  .main {
    margin-top: 0;
  }
}