.team-gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team-member-wrapper {
  margin: 30px auto;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px 50px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 35px;
}
.team-member-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-member-photo h2 {
  margin-bottom: 0;
}
.team-member-photo h1,
.team-member-photo h2 {
  text-align: center;
}
.team-member-text p:first-child {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .team-member-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
  }
}